@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    background-color: black;
}
.main{
    margin-top: 200px;
    margin-left: 250px;
    height:800px;
    width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dp{
    position: relative;
    bottom: 290px;
   height: 250px;
   border-radius: 50%;
   border:5px solid darkblue;
}
.Name{
    position: relative;
    bottom: 320px;
    color: darkblue;
    font-family: 'Michroma', sans-serif;
    font-size: 70px;
}
.bio{
    
}