@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    background-color: black;
}
.main{
    margin-top: 200px;
    margin-left: 250px;
    height:1500px;
    width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dp{
    position: relative;
    bottom: 60px;
   height: 250px;
   border-radius: 50%;
   border:5px solid darkblue;
}
.Name{
    position: relative;
    bottom: 110px;
    color: darkblue;
    font-family: 'Michroma', sans-serif;
    font-size: 70px;
}
.h1{
    padding-left: 10px;
    color:goldenrod;
    border-left: darkblue 5px solid;
}
.Overview{
    position: relative;
    right: 295px;
    top: -140px;
}
.Bio{
    position: relative;
    left: 50px;
    bottom: 130px;
}
.para{
    height: 900px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    
}