@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
.container{
    height: 1000px;
    width: 1500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    height:800px;
    width: 80%;
    background-color: white;
    display: flex;
    
}
.dp{
   height: 250px;
   border-radius: 50%;
   position: relative;
   left:450px;
   top:-80px
}
.Name{
    font-family: 'Michroma', sans-serif;
    font-size: 70px;
    position: relative;
    top:115px;
    left:200px;
    
}